<div class = "content-wrapper form-wrapper">
  <div class = "form-box">
    <div class = "card">
      <div class = "card-header">ログイン</div>
        <div class = "card-body">
          <%= form_with scope: :session, url: login_path, class: "form-horizontal", local: true do |form| %>
            <div class = "row form-group form-parts">
              <%= form.label :email, "メールアドレス", class: "col-sm-3 col-form-label" %>
              <div class = "col-sm-9">
                <%= form.email_field :email, class: "form-control", placeholder: "メールアドレス" %>
              </div>
            </div>
            <div class = "row form-group form-parts">
              <%= form.label :password, "パスワード", class: "col-sm-3 col-form-label" %>
              <div class = "col-sm-9">
                <%= form.password_field :password, class: "form-control", placeholder: "パスワード" %>
              </div>
            </div>
            <div class = "btn-position">
              <div><%= form.submit "ログイン", class: "btn btn-primary" %></div>
            </div>
          <% end %>
          <div class = "btn-position">
            <div><%= link_to "まだユーザー登録がお済みでない方はこちらへ", :new_user %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
