<div class = "content-wrapper form-wrapper">
  <div class = "form-box">
    <div class = "card">
      <div class = "card-header">パスワードの変更</div>
      <div class = "card-body">
        <%= form_with model: @user, local: true, url: {controller: 'password', action: 'update' } do |form| %>
          <div class = "row form-group form-parts">
            <%= form.label :password, "パスワード", class: "col-sm-3 col-form-label annotation" %>
            <div class = "col-sm-9">
              <%= form.password_field :password, class: "form-control", placeholder: "新しいパスワード（６文字以上）" %>
            </div>
          </div>
          <div class = "row form-group form-parts">
            <%= form.label :password_confirmation, "パスワード(確認)", class: "col-sm-3 col-form-label annotation" %>
            <div class = "col-sm-9">
              <%= form.password_field :password_confirmation, class: "form-control", placeholder: "上記と同じパスワードを入力" %>
            </div>
          </div>
          <div class = "btn-position">
            <%= form.submit "パスワードを変更する", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
