<header>
  <div class = "header-wrapper">
    <div class = "header-title"><%= link_to "公務員NEXT", root_path %></div>
    <div class = "search-box">
      <%= form_with url: search_path, method: :get, class: "header-search", local: true do |form| %>
        <%= form.search_field :keyword, placeholder: "キーワードで検索" %>
        <%= form.submit "\uf002", class: "search-icon" %>
      <% end %>
    </div>
    <div class = "header-link">
      <%= link_to " 相談する", new_post_path, class: "far fa-comment-dots btn btn-primary" %>
      <div class = "haeder-user">
        <%= link_to " ログイン", login_path, class: "fas fa-sign-in-alt btn" unless current_user %>
        <%= link_to " 新規登録", new_user_path, class: "fas fa-user-plus btn" unless current_user %>
        <%= link_to " 管理者画面", admin_users_path, class: "fas fa-users-cog btn btn-dark" if current_user && current_user.admin? %>
        <%= react_component("UserMenu", props: { user: current_user }, prerender: false) if current_user %>
      </div>
    </div>
  </div>
</header>
