<div class = "post-list-wrapper" id="post-page">
  <% posts.each do |post| %>
    <div class = "post-list d-flex justify-content-center align-items-center p-3">
      <div class = "reply-count">
        <p>回答数</p>
        <p style = "font-size: 24px;"><%= "#{post.replies_count}件"%></p>
      </div>
      <div class = "post-right">
        <div class = "post-create">
          <div class = "post-user d-flex flex-column flex-lg-row mb-1">
            <div class ="me-3">
              <i class = "fas fa-user-edit"></i><span><%= " #{post.user.active_user_name}" %></span>
            </div>
            <div>
              <i class = "far fa-comment-dots"></i><span><%= " #{datetime_format(post.created_at)}" %></span>
            </div>
          </div>
          <div class = "post-title mb-1"><%= link_to "#{post.title}", post_path(post.id) %></div>
        </div>
        <div class = "post-edit">
          <i class = "fas fa-reply"></i><span><%= " #{datetime_format(post.most_recent_update)}" %></span>
        </div>
      </div>
    </div>
  <% end %>
  <%= paginate posts, :remote => true %>
</div>
