<div class = "content-wrapper form-wrapper">
  <div class = "form-box">
    <div class = "card">
      <div class = "card-header">新規投稿</div>
      <div class = "card-body">
        <%= form_with model: @post, local: true do |form| %>
          <div class = "row form-group form-parts">
            <%= form.label :title, "タイトル", class: "col-sm-3 col-form-label annotation" %>
            <div class = "col-sm-9">
              <%= form.text_field :title, class: "form-control", placeholder: "タイトル" %>
            </div>
          </div>
          <div class = "row form-group form-parts">
            <%= form.label :content, "本文", class: "col-sm-3 col-form-label annotation" %>
            <div class = "col-sm-9">
              <%= form.text_area :content, class: "form-control post-text", placeholder: "本文" %>
            </div>
          </div>
          <div class = "btn-position">
            <%= form.submit "投稿する", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
