<div class = "content-wrapper">
  <div class = "post-box">
    <div class = "post-box-title">
      <h4><%= @post.title %></h4>
      <div class = "favorite-button">
        <%= react_component("Favorite", props: { postId: @post.id, favoriteId: @post.favorite_by(current_user)&.id, user: current_user }, prerender: false) %>
      </div>
    </div>
    <div class = "post-box-infomation">
      <%= react_component("UserModal", props: { user: @post.user }, prerender: false) %>
      <p><%= "相談日時：#{datetime_format(@post.created_at)}" %></p>
      <p style = "font-size: 16px;"><%= "回答数：#{@post.replies_count}件"%></p>
    </div>
    <div class = "post-box-content">
      <%= safe_join(@post.content.split("\n"),tag(:br)) %>
    </div>
    <div class = "post-box-button">
      <% if post_delete_permission?(@post, @replies) %>
        <%= link_to "相談を削除する", post_path(@post), method: :delete, class: "btn btn-outline-danger btn-sm" %>
        <p>※回答がない場合のみ可能</p>
      <% end %>
    </div>
    <div>
      <%= form_with(model: [@post, @reply], method: :post, class: "reply-form-box", local: true) do |form| %>
        <%= form.text_area :content, class: "form-control", placeholder: "回答を入力する" %>
        <%= form.hidden_field :post_id, value: @post.id %>
        <div class = "btn-position">
          <%= form.submit "回答する", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class = "replies-box">
    <h4>回答</h4>
    <% @replies.each do |reply| %>
      <% if reply.parent_id.nil? %>
        <div class = "reply-box">
          <div class = "parent-reply-box">
            <%= render "shared/reply_form", { post: @post, reply: reply } %>
          </div>
            <% @replies.each do |children_reply| %>
              <% if reply.id == children_reply.parent_id %>
                <div class = "children-reply-box">
                  <%= render "shared/reply_form", { post: @post, reply: children_reply } %>
                </div>
              <% end %>
            <% end %>
            <div>
              <%= form_with(model: [@post, @reply], method: :post, class: "reply-form-box", local: true) do |form| %>
                <%= form.text_area :content, class: "form-control", placeholder: "返信を入力する" %>
                <%= form.hidden_field :post_id, value: @post.id %>
                <%= form.hidden_field :parent_id, value: reply.id %>
                <div class = "btn-position">
                  <%= form.submit "返信する", class: "btn btn-primary" %>
                </div>
              <% end %>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
