<div class = "content-wrapper">
  <div class = "admin-edit-wrapper">
    <div>
      <h4>ユーザー情報</h4>
      <div class = "admin-box">
        <div class = "card">
          <div class = "card-body">
            <%= render "shared/user_infomation", user: @user %>
          </div>
        </div>
      </div>
    </div>
    <div>
      <h4>管理者用メニュー</h4>
      <div class = "admin-box">
        <div class = "card admin-edit-card">
          <div class = "card-body">
            <%= form_with model: @user, url: {controller: "admin/users", action: "update" }, local: true do |form| %>
              <div class = "card-box">
                <p class = "card-name"><%= form.label :active, "アクティブユーザー" %></p>
                <div>
                  <%= form.radio_button :active, true, class: "form-check-input" %>復活
                  <%= form.radio_button :active, false, class: "form-check-input radio-button" %>強制退会
                </div>
              </div>
              <div class = "card-box">
                <p class = "card-name"><%= form.label :note, "備考（管理者用）" %></p>
                <%= form.text_area :note, class: "admin-edit-text" %>
              </div>
              <div class = "btn-position">
                <%= form.submit "編集する", class: "btn btn-primary" %>
              </div>
            <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
