<% if flash.alert %>
  <p><%= flash.alert %></p>
<% end %>
<div class = "content-wrapper">
  <div class = "admin-edit-wrapper">
    <div>
      <h4 style = "padding-top: 20px;">ユーザー情報</h4>
      <div class = "admin-box">
        <div class = "card">
          <div class = "card-body">
            <div class = "card-box">
              <p class = "card-name">ユーザー名</p>
              <p class = "card-text"><%= @user.name %></p>
            </div>
            <div class = "card-box">
              <p class = "card-name">メールアドレス</p>
              <p><%= @user.email %></p>
            </div>
            <div class = "card-box">
              <p class = "card-name">年代</p>
              <p><%= @user.age %></p>
            </div>
            <div class = "card-box">
              <p class = "card-name">組織</p>
              <p><%= @user.organization %></p>
            </div>
            <div class = "card-box">
              <p class = "card-name">職種</p>
              <p><%= @user.job %></p>
            </div>
            <div class = "card-box">
              <p class = "card-name">現在の状況</p>
              <p><%= @user.status %></p>
            </div>
            <div class = "card-box">
              <p class = "card-name">自己紹介</p>
              <p><%= @user.introduction %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <h4 style = "padding-top: 20px;">管理者用メニュー</h4>
      <div class = "admin-box">
        <div class = "card admin-edit-card">
          <div class = "card-body">
            <%= form_with model: @user, local: true do |form| %>
              <div class = "card-box">
                <p class = "card-name"><%= form.label :admin, "管理者権限" %></p>
                <div>
                  <%= form.radio_button :admin, true, class: "form-check-input" %>付与
                  <%= form.radio_button :admin, false, class: "form-check-input radio-button" %>削除
                </div>
              </div>
              <div class = "card-box">
                <p class = "card-name"><%= form.label :note, "備考（管理者用）" %></p>
                <%= form.text_area :note, class: "admin-edit-text" %>
              </div>
              <div class = "btn-position">
                <%= form.submit "編集する", class: "btn btn-primary" %>
              </div>
            <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
