<% if flash.notice %>
  <p><%= flash.notice %></p>
<% end %>

<h3>ユーザー一覧</h3>
<table border=1>
  <tr>
    <th>id</th>
    <th>ユーザー名</th>
    <th>メールアドレス</th>
    <th>年代</th>
    <th>組織</th>
    <th>職種</th>
    <th>現在の状況</th>
    <th>自己紹介</th>
    <th>アクティブユーザー</th>
    <th>備考（管理者用）</th>
    <th>強制退会</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.age %></td>
      <td><%= user.organization %></td>
      <td><%= user.job %></td>
      <td><%= user.status %></td>
      <td><%= user.introduction %></td>
      <td>
        <% if user.active %>
          <p>○</p>
        <% else %>
          <p>×</p>
        <% end %>
      </td>
      <td><%= user.note %></td>
      <td><%= link_to "強制退会", withdrawl_user_path(user.id), method: :patch, data: {confirm: "本当に退会させますか？"} %></td>
    </tr>
  <% end %>
</table>

<%= link_to "ログアウト", logout_path, method: :delete %>
