<% if flash.notice %>
  <p><%= flash.notice %></p>
<% end %>

<h3>ユーザー一覧</h3>
<table border=1>
  <tr>
    <th>id</th>
    <th>ユーザー名</th>
    <th>メールアドレス</th>
    <th>年代</th>
    <th>組織</th>
    <th>職種</th>
    <th>自己紹介</th>
    <th>管理者権限</th>
    <th>ユーザー削除</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.age.category %></td>
      <td><%= user.organization.category %></td>
      <td><%= user.job.category %></td>
      <td><%= user.introduction %></td>
      <td><%= user.admin %></td>
      <td><%= link_to "削除", admin_user_path(user.id), method: :delete, data: {confirm: "本当に削除しますか？"} %></td>
    </tr>
  <% end %>
</table>

<%= link_to "ログアウト", logout_path, method: :delete %>
